/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
img {
    height: 100%;
}

body{
    background-color:white;
}

/* Hero */
.hero{
    background: url("../images/slide1.jpg");
    
    background-size: cover;
    background-position: center;
    position: relative;
}

.description{

    background-size: 720px;
    padding: 10px;
    opacity: 100%;
    color: white;
}

.hero-content{
    justify-content: center;
    padding: 20vh;
    width: 75%;
    font-size: 40px;
    margin-left: 15%;
}

.hero-buttons{
    list-style: none;
    display: flex;
    width: 30vh;
    justify-content: space-between;
}

.circle-button{ 
    border-radius: 5px;
}

.circle-button:hover{
    cursor: pointer;
}



/* Nav bar */

.top-nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}

.nav-image{
    margin-left: 75px;
    margin-top: 15px;
}

.test{
    margin-right: 20px;
    padding: 50px;
}

.links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.links > li {
    margin-right: 20px;
    cursor: pointer;
}

.links > :last-child{
    margin-right: 0px;
}
.nav-butt{
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-blue{
    background-size: 50px;
    background-color: #0077b6;
    border-radius: 20px;
    height: 40px;
    width: 100px;
}
.nav-butt:hover{
    border-radius:15px ;
    background-color: grey;
    height: 40px;
}

/* Section2 :Boxes and info */
.BDD-info{
    display: flex;
  
}
.info-tittle{
    text-align: center;
}
.info{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    margin: 10px;
    padding: 2%;
    width: 20%;
}
.images-info{
    width:100%;
    height: 100%;

}
.topic{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 35px;
}
/* section vid/img */
.vid-back{
    width: 100%;
    opacity: 50%;
}

.pause-vid{
    width: 100%;
    height:100%;
    background-image:url("../images/parallax-4.jpg") ;
    opacity: 70%;
    text-align: center;
    font-size: 40;
    padding: 40px;
    color: white;
}

/* section join BDD */

.join-bdd-tittle{
    text-align: center;
    font-size: 32;
    font: bolder;   
    margin-top: 2%;
    margin-bottom: 4%;
}
.join-bdd-content{
    display: flex;
}
.join-bdd-img{
    width: 380px;
    height: 400px;
}
.join-bdd-boxes{
    margin-left: 10%;
    background-color: white; 
}
.box-tittles{
    font-weight:bolder;
}
.join-bdd-links{
    list-style:symbols(marker);
    margin-top: 15%;
}
.know-more{
    width: 100px;
    border-radius: 15px;
    padding: 5px;
    background-color: #0077b6;
    cursor: pointer;
    margin-top: 50%;
}
.installation-bdd{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: end;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 15px;
}
.install{
    display: flex;
    justify-content: end;
}
.installation-imgs{
    width: 125px;
    height: 40px;
    margin-right: 15px;
}
/* section:preferred hub */
.hub-content{
    background-image: url(../images/parallax-light.jpg);
    margin: 25px 0px;
}
.hub-tittle{
    text-align: center;
    font: bolder;
    font-family:fantasy;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.hub-imgs-sec{
    display: flex;
    justify-content: space-around;
}
.hub-images{
    width: 100px;
    height: 75px;
}
.img-txt{
    display: flex;
    flex-direction: column;
}
.hub-txt{
    width: 100px;
    margin-top: 30px;
    font-size: 16px;
}
.hub-nmbr{
    font-size: 35;
}